[Unit]
Description=Borg backup data verification
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/swizzin-backup.sh --verify
Nice=19
IOSchedulingClass=idle
